<p id="notice"><%= notice %></p>

<p>
  <strong>Application No:</strong>
  <%= @application.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @application.name %>
</p>

<p>
  <strong>Relation name:</strong>
  <%= @application.relation_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @application.address %>
</p>

<p>
  <strong>Details:</strong>
  <%= @application.details %>
</p>

<p>
  <strong>Is doctor:</strong>
  <%= @application.is_doctor %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>

<% if @lastToken %>
<div>
  <p>Last Token</p>
  <% @lastToken.each do | lastToken | %>
    <div>Last Token Id: <%= lastToken.id %></div>
    <div>Last Token Date: <%= lastToken.updated_at %></div>
  <% end %>
</div>
<% end %>

<%# if @lastFiveTokens %>
<!-- <div>
  <p>Last Five Tokens</p>
  <%# @lastFiveTokens %>
</div> -->
<%# end %>

<%# if @allTokens %>
<!-- <div>
  <p>Last Token</p>
  <%# @allTokens %>
</div> -->
<%# end %>
