<%= form_for(@token) do |f| %>
  <% if @token.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@token.errors.count, "error") %> prohibited this token from being saved:</h2>

      <ul>
      <% @token.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= f.label :name %> : </b><span class="input_madatory">*</span><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <b><%= f.label :is_active %> : </b>
    <%= f.check_box :is_active, :id => "idIsActive" %><br>
  </div>
  <div class="field">
    <b><%= f.label :relation_name %> : </b><span class="input_madatory">*</span><br>
    <%= f.text_field :relation_name %>
  </div>
  <div class="field">
    <b><%= f.label :is_new_application %> : </b><span id="is_new_application_error"  class="input_madatory">*</span>
    <%= f.check_box :is_new_application, :id => "idIsNewApplication" %><br>
  </div>
  <div class="field">
    <b><%= f.label :application_id %> : </b><span id="application_id_error" class="input_madatory">*</span><br>
    <%= f.text_field :application_id if @token.new_record? %>
    <%= f.text_field :application_id,:readonly => true unless @token.new_record?%>
  </div>
  <div><b>Note: </b> All<span class="input_madatory">*</span>&nbsp; marks are madatory to fill</div><br/>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
