<!-- <p id="notice"><%= notice %></p> -->

<h1>Patients</h1>

<table>
  <thead>
    <tr>
      <th>Token Id</th>
      <th>Name</th>
      <th>Relation Name</th>
      <th>Application Id</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |token| %>
      <tr>
        <td><%= token.id %></td>
        <td><%= token.name %></td>
        <td><%= token.relation_name %></td>
        <td><%= link_to token.application_id, application_path(token.application_id) %></td>
        <td><%= link_to 'Show', token %></td>
        <td>
          <% if can? :update, Token %>
            <%= link_to 'Edit', edit_token_path(token) %></td>
          <% end %>
        <td>
          <% if can? :destroy, Token %>
            <%= link_to 'Destroy', token, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>  
        <td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination_wrapper">
  <%= paginate @patients %>
</div>
<br>
