<!DOCTYPE html>
<html>
	<head>
	  <title>HomeoHospital</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<h1 class="main-heading">Welcome to Navanetha Evergreens Home Hospital</h1>
		<div class="nav-header">

			<% if user_signed_in? %>
			  Signed in as <%= current_user.email %>. Not you?
			  <%= link_to "Edit profile", edit_user_registration_path %>
			  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			<% else %>
			  <%# link_to "Sign up", new_user_registration_path %> <%= link_to "sign in", new_user_session_path %>
			<% end %>
		</div>
		<% flash.each do |name, msg| %>
		  <%= content_tag :div, msg, id: "flash_#{name}" %>
		<% end %>
		

		<% if user_signed_in? %>
		<nav><ul><%= link_to 'Home', root_path, :style => "padding: 8px;" %><%= link_to 'Tokens', tokens_path, :style => "padding: 8px;" %><%= link_to 'Applications', applications_path, :style => "padding: 8px;" %></ul></nav>
		<% end %>

		<%= yield %>

	</body>
</html>
